*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    position: relative;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
}
.navbar ul{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    padding: 10px;
    color: aliceblue;
}
.navbar ul li a{
    text-decoration: none;
    color: inherit;
}
.sidebar{
    display: inline-block;
    position: relative;
    width: 207px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: papayawhip;
    color: white;
}
.anuncio{
    margin-bottom: 10px;
    width: 150px;
    height:150px;
    border-radius: 25px;
    background-color: skyblue;
}
.main{
    display: inline-block;
    background-color: #f1f1f1;
    color: white;
}
.texto{
    display: inline-block;
    color: white;
    background-color: silver;
    height: 660px;
    width: 1230px;
    /* padding: 233px; */
    position: absolute;
    top: 47.5%;
    left: 57%;
    transform: translate(-50%, -50%);
}