*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.header{
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding: 0 2.5rem;
}
.nav_right{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.nav_right li{
    padding: 2.5rem;
    list-style: none;
}
.nav_right li a{
    text-decoration: none;
    color: inherit;
}

.main{
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
}
aside{
    display: flex;
    width: 20%;
    height: 90vh;
    background-color: papayawhip;
    color: white;
    padding: 2.5rem;
}
.main__content{
    display: flex;
    width: 80%;
    height: 90vh;
    background-color: skyblue;
    color: white;
    padding: 2.5rem;
    font-size: 1.6rem;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: gray;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    padding: 2rem;
}